body {
    background-image: url(/images/donation6.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

    height: 80px;

    margin: 2px;
    font-family: font-family: 'Arima', cursive;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Prompt', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;




}

#top-header {

    margin-top: 4%;
    font-size: 50px;
    color: whitesmoke;
    text-align: center;
    font-weight: 700;
}

#second-top-header {

    font-size: 50px;
    color: whitesmoke;
    text-align: center;
    font-weight: 700;
}

#top-paragraph {

    color: white;

}

.inspired-paragraph {
    font-size: 16px;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    color: azure;
}

.donate-button {
    background-color: tomato;
    border-radius: 5%;
    color: rgb(241, 150, 150);
    font-size: 20px;
    text-decoration: none;
    margin-left: 45%;

}

.donate-banner-header {
    text-align: center;
    font-size: 40px;
    margin-top: 250px;
    font-weight: 700;
    color:black;
}

.contribute-banner {
    width: 50%;
    padding-left: 5%;
    padding-top: 10%;
    border-radius: 10px;
}

.contribute-banner h1 {
    font-size: 40px;

}

.contribute-banner a {
    background-color: tomato;
    border-radius: 5%;
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.contribute-banner img {
    width: 70%;
}

.amount-banner-section {
    display: flex;
    margin-left: 25%;
}

.amount-button {
    background-color: rgba(218, 218, 218, 0.5);
    padding: 1% 2% 1% 2%;
    margin: 5px;
    border-radius: 5px;
    font-size: 25px;
}

#marked-button {
    background-color: rgba(241, 157, 199, 0.6);
    padding: 1% 2% 1% 2%;
    margin: 5px;
    border-radius: 5px;
    font-size: 25px;
    border: 1px solid tomato;
}

#manual-tk {
    border: none;
    margin-left: 45%;
    margin-bottom: 10px;
}

hr {
    width: 70%;
}

.plan-flex {
    display: flex;
}

.plan-box p {
    font-size: 15px;
}

#box-pest-color {
    background-color: rgba(237, 245, 246);
    margin-top: 5px;
    margin-left: 100px;
    border-radius: 5px;
}

#box-pink-color {
    background-color: rgb(248, 207, 207);
    padding: 1% 2% 1% 2%;
    margin: 5px;
    border-radius: 5px;
}

#box-off-white-color {
    background-color: rgb(218, 201, 157);
    padding: 1% 2% 1% 2%;
    margin: 5px;
    border-radius: 5px;
}

.plan-box img {
    margin: 10% 0% 0% 5%;
    width: 15%;
    height: 20%;
}

.subscribe-button {
    background-color: rgb(226, 221, 222);
    text-align: center;
    padding: 50px;
    margin: 60px;
}

.subscribe-button {
    color: white;
    background-color: tomato;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px;
    margin-left: 0px;
    text-align: center;
}

.subscribe-button {
    background-color: rgb(239, 224, 243);
    border: none;
    padding: 5px;
    text-align: center;
}

.footer-credit{
    text-align: center;
}



 
#footer {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 50px;
    color: tomato;
    padding-bottom: 20px;
    text-align: center;
}